body {
  background-image: url(./images/formbackground.jpg);
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px; 
  padding: 100px;
  z-index: -10px;
}
h2 {
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:bold;
}
form {
  width: 50%;
  margin: 0 auto;  
  background-color:#981B1B;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px;
  color: #ffff;
}
input[type=text], input[type=password], input[type=Email] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  }
  label {
    font-family: forte;
  }
  form button {
  background-color: #680e0e;
  color:white;
  border-radius: 10px;
  width: 20%;
  padding: 10px;
  margin-left: 220px;
  border-style: none;
  border: 2px solid #680e0e;
  cursor: pointer;
  }
  textarea{
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
  }

  